# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
venv/
.venv/
.log
.DS_Store

# credentials
credentials.py

# Debug
debug/
data/
MatchingTable.csv

Testing.py
TestingV2.py
scripts/
DUPES.json
